<!--footer -->
<div class="grid-x footer-container show-for-large">
    <div class="cell large-9 medium-12 small-12">
    <ul class="menu footer-menu">
        <li><a href="{{ path('home_contact_us')}}">Contact Us</a></li>
        <li><a href="{{ path('home_terms_of_service')}}">Term of Service</a></li>
        <li><a href="{{ path('home_privacy')}}">Privacy Policy</a></li>
        <li><a href="{{ path('home_help_ukraine')}}">Help Ukraine</a></li>
    </div>
    {# <div class="cell large-6 medium-12 small-12">
        <ul class="ftr-socials">
            <li><img src="/assets/img/facebook (1).png"></li>
            <li><img src="/assets/img/Instagram.png"></li>
            <li><img src="/assets/img/LinkedIn.png"></li>
            <li><img src="/assets/img/tiktok.png"></li>
            <li><img src="/assets/img/twitter.png"></li>
        </ul>
    </div> #}
    <div class="cell large-3 medium-12 small-12">
        <div class="ftr-left-pannel">
            <a class="button float-right lms-merch" href="{{path('dashboard_merch')}}">LuvMyStory Merch</a>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>