 <div class="grid-x header-container-2">
    <div class="cell large-2 medium-6 small-6">
      <a href="{{ path('home_index')}}" > <img  src="/assets/img/mystory-logo-pink.png" class='header-logo'></a>
    </div>
    <div class="cell large-10 medium-6 small-6">
      <ul class="menu menu-style show-for-large dropdown nav-menu float-right" data-dropdown-menu>
        <li><div class='sign-up-nav-container text-white'> Have An Account? <a href="{{ path('home_login')}}" class='button primary-button radius-rounded  text-white pl20 pr20' style='display:inline-block;'>SIGN IN</a></div></li>
      </ul>
      <div class="burger-menu hide-for-large">
        <img  src="/assets/img/burger menu.png" class='pt10'>
      </div>
    </div>
      <!--responsive menu-->
      <div class="grid-x menu-device">
        <div class="cell large-12 medium-12 small-12">
          <ul>
             <li>
              <a href="{{ path('home_index')}}">Home</a>
            </li>
            <li>
              <a href="{{ path('home_stories')}}">Choose your Story</a>
              <ul class="menu">
                  <li ><a href="{{ path('home_the_luv1_conversation')}}">The Luv1 Conversation</a></li>
                  <li><a href="{{ path('home_me')}}">Choose your Story</a></li>
                  <li><a href="{{ path('home_friends')}}">Friends</a></li>
                  <li><a href="{{ path('home_family')}}">Family</a></li>
                  <li><a href="{{ path('home_travel')}}">Travel</a></li>
                  <li><a href="{{ path('home_career')}}">Career</a></li>
                  <li><a href="{{ path('home_business')}}">Business</a></li>
              </ul>
            </li>
            <li><a href="{{ path('home_the_steps')}}">The Steps</a></li>
            <li><a href="{{ path('home_why_tell_your_story')}}">Why Story</a></li>
            <li>
              <a href="{{ path('home_about_us')}}">About Us</a>
                {# <ul class="menu">
                  <li><a href="{{ path('home_interviewer')}}">Founders & Team Story Guides</a></li>
                </ul> #}
            </li>
            <li><a href="{{ path('home_faq')}}">FAQ</a></li>
            <li><a href="{{ path('home_book_now')}}">Book Now</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
      <!--content -->
</div>