{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
      <div class="cell large-6 medium-12 small-12">

            <div class='page-form-container mb-5  '>
            <form  action="{{ path('home_registration')}}" method="POST">
                <h6>Create your account</h6>
                <small>before telling us your story please sign up by entering your details below.</small>

             <div class="grid-x ">
                  <div class="small-12 cell">
                  
                        {{ form_widget(form.first_name) }}
                  </div>
                  <div class="small-12 cell">
                        {{ form_widget(form.last_name) }}
                  </div>
                  <div class="small-12 cell">
                        {{ form_widget(form.email) }}
                  </div>
                  <div class="small-12 cell">
                        {{ form_widget(form.password.first) }}
                  </div>
                  <div class="small-12 cell">
                        {{ form_widget(form.password.second) }}
                  </div>
                  <div class="small-12 cell">
                      <button type='submit' class='button radius expanded pink'>Create Account</button>
                  </div>
                  <div class="small-12 cell">
                    <a href="{{ path('home_forgot_password')}}" class="forgotpass-link">Forgot Password?</a>
                    <p><span>Already have an account  ?</span>&nbsp;<a href="{{ path('home_login')}}" class="signup-link">Sign in Here</a></p>
                  </div>
                  
                </div>
                {{ form_widget(form._token) }}

            </form>

      
          </div> 
          <div class='hide-for-large mb-5'></div>
 
      </div>
      <div class="cell large-6 medium-12 small-12 registration-right-grid show-for-large">
          <div class="registration-right-side ">
             <div class='title-header text-center'>
                 <h3 class='bolder text-white mt50'>Everyone has a story </h3>
                 <h4 class='bolder text-white'>to tell and only you can tell yours.</h4>
             </div>
            <div class='title-img text-center'>
                 <img  src="/assets/img/reg-img.png" />
             </div>
          </div>
      </div>
    </div>

    </div>


{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}