{% extends "Dashboard/main.html.twig" %}

{% block content %}

<div class="grid-container">
    <form id='storyForm' action="{{ path('story_details', { id: id})}}" method="POST" enctype='multipart/form-data' >

        <div class="grid-x grid-margin-x mt50">

            <div class='cell large-4'>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-12" >
                        <div id="storyDetailsLeftContainer">
                            <div class='imgContainer'>
                                <img id="imgStoryPic" src="{{ story.getFileWebPath != '' ? story.getFileWebPath : '/assets/img/placeholder-image.png' }}" class='profilePic'/>
                            </div>
                            {# <div class="mt50">
                                <h6>Update story photo</h6>
                            </div> #}
                            <div class='mt10'>
                                <label for='storyPic' class='button'>Upload Photo</label>
                                <input id="storyPic" type='file' name="story_photo" style="display:none;" accept="image/png, image/gif, image/jpeg">
                            </div>
                        </div>


                    </div>
                     <div class="cell large-12" >
                    <div class="mt20 audio-player-container">
                            <div ><h6>Play Audio</h6></div>
                            <div>
                                <audio controls style='width:100%'>
                                <source src="{{ story.schedule.getFileWebPath != '' ? story.schedule.getFileWebPath : '/assets/audio/default.mp3' }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                                </audio>
                            </div>
                    </div>
                    </div>
                    <div class="cell  large-12" >
                        <div class="mt20 share-container">
                            <div class='title'>Share this on:</div>
                            <div class='input-div'>
                                <span id='clipboard'>{{ global_url ~ path('story_telling', { id:story.idencoded})}}</span><a href="javascript:void(0);" class="button" id="copyToClipBoard">COPY LINK</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class='text-right'><small><a href='{{  path('story_telling', { id:story.idencoded})}}'  target="_blank">Preview Story</a> </small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='cell large-8'>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-12" >
                        <div id="storyDetailsRightContainer">
                            <h4> Update Story</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class='mt40'>
                            <div class='cell large-12'>
                                {{ form_label(form.title)}}
                            </div>
                            <div class='cell large-12'>
                                {{ form_widget(form.title)}}
                            </div>
                        </div>
                        <div class='mt10'>
                            <div class='cell large-12'>
                                {{ form_label(form.about)}}
                            </div>
                            <div class='cell large-12'>
                                {{ form_widget(form.about)}}
                            </div>
                        </div>
                        <div class='mt40'>
                            <div class='cell large-12'>
                                <div class='float-left bolder'>
                                <label>Public <span data-allow-html="true" data-tooltip class="top" tabindex="2" title="<p>By sharing your story, you grant other users the opportunity to access and listen to your story </p>
                                    <p>By setting your story to private, limits access to just you and those users you share your story with</p>" data-tooltip-background-color="white"><i class="fa-solid fa-question"></i></span></label>
                                </div>
                                <div class="switch float-right">
                                    <input class="switch-input" id="isPublic" type="checkbox" name="is_public" {{ story.ispublic ? 'checked' : ''}}>
                                    <label class="switch-paddle" for="isPublic" ></label>
                                </div>
                                <div class='clearfix'></div>
                            </div>
                        </div>

                      <div  class='mt40 text-right'>
                            <div> <button class='button pink large' type="submit"> Save Details</a></div>
                            <div class='clearfix'></div>
                        </div>
                </div>
            </div>
        </div>
    {{ form_widget(form._token) }}
    </form>

</div>

{% include 'js.html.twig' %}

<script language="javascript">
//<![CDATA[
    $(document).ready(function(){
        
        details.settings.removeShareStoryAjaxUrl = "{{ path('story_ajax_remove_share_story')}}";
        details.init();
    });
//]]>
</script>
{% endblock %}