{% extends "Dashboard/main.html.twig" %}

{% block content %}

<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
        <div class='cell large-12'>
            <div class="mt20">
                <div class="media-object-section main-section">
                    <h4>My Story - {{ schedule.scheduletype}}</h4>
                </div>
            </div>
        </div>
        <div class='cell large-8'>
            <div class="grid-container fluid">
                <div class="grid-x grid-margin-x">
                    <div class='cell large-6'>
                        <div class='mt10'>
                            <div class='text-left profile-info-container'>
                                <div class='det-container'>
                                    <div class='title'>Interviewer</div>
                                    <div class='value'>{{ schedule.calendar}}</div>
                                </div>
                                <div class='clear-fix'></div>
                            </div>
                        </div>
                        <div class='mt10'>
                            <div class='text-left profile-info-container'>
                                <div class='det-container'>
                                    <div class='title'>Schedule Date</div>
                                    <div class='value'>{{ schedule.scheduledate}}</div>
                                </div>
                                <div class='clear-fix'></div>
                            </div>
                        </div>
                    
                    </div>
                    <div class='cell large-6'>
                        <div class='mt10'>
                            <div class='text-left profile-info-container'>
                                <div class='det-container'>
                                    <div class='title'>Price</div>
                                    <div class='value'>{{ schedule.price}}</div>
                                </div>
                                <div class='clear-fix'></div>
                            </div>
                        </div>
                        <div class='mt10'>
                            <div class='text-left profile-info-container'>
                                <div class='det-container'>
                                    <div class='title'>Time</div>
                                    <div class='value'>{{ schedule.starttime ~ ' - ' ~ schedule.endtime}}</div>
                                </div>
                                <div class='clear-fix'></div>
                            </div>
                        </div>
                        {# <div class='mt10'>
                            <div class='text-left profile-info-container'>
                                <div class='det-container'>
                                    <div class='title'>Is Paid</div>
                                    <div class='value'>{{ schedule.ispaid ? 'Yes' : 'No'}}</div>
                                </div>
                                <div class='clear-fix'></div>
                            </div>
                        </div> #}
                    </div>
          
                    <div class='cell large-12'>
                        <div class='mt10'>
                            <div class='text-left profile-info-container'>
                                <div class='det-container'>
                                    <div class='title'>Check Schedule</div>
                                    <div class='value'><a href="{{schedule.confirmationpage}}" target="_blank">{{schedule.confirmationpage}}</a></div>
                                </div>
                                <div class='clear-fix'></div>
                            </div>
                        </div>
                    </div>
                    {% for k, field in schedule.scheduleforms %}
                        <div class='cell large-12'>
                            <div class='mt10'>
                                <div class='text-left profile-info-container'>
                                    <div class='det-container'>
                                        <div class='title'>{{field.fieldname}}</div>
                                        <div class='value'>{{ field.fieldvalue}}</div>
                                    </div>
                                    <div class='clear-fix'></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <div class='cell large-4'>
            {% if userData['type'] == 'Admin' %}
                <div class='updateScheduleContainer mt30'>
                    {# <form id='scheduleForm' action="{{ path('schedule_details', { id: id})}}" method="POST" enctype='multipart/form-data' > #}
                    <form>

                        <div class="grid-x grid-margin-x">
                            <div class="cell small-12 medium-12" >
                                <div id='audioContainer'>
                                    <audio controls style='width:100%'>
                                        <source src="{{ schedule.getFileWebPath != '' ? schedule.getFileWebPath : '/assets/audio/default.mp3' }}" type="audio/mpeg" id='storyAudio'>
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                            <div class="cell small-12 medium-12" >
                                <div class="grid-x grid-margin-x">
                                  
                                     <div class="cell small-12 medium-12 text-right" >
                                        <label for='scheduleFile' class='label-link is-link'>Upload Recorded File</label>
                                        <input id="scheduleFile" type='file' name="file" style="display:none;"  accept="audio/mp3" >
                                        <input type='hidden' value='{{schedule.idencoded}}' id='scheduleId'/> 
                                        <div id="fileList">
                                            {% if schedule.parsedFileDesc != '' %}
                                                <div id="o_1he2cb2fk23levn1hgh1mqgba88">{{ schedule.parsedFileDesc}} <b></b></div>
                                            {% endif %}
                                        </div>
                                        <div class="progress"></div>
                                        <div id="statusResponse"></div>

                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                          
                            <div class="cell small-12 medium-12" >
                                <div class='mt20'>
                                    <button class='button pink large' type="button" id='uploadFileBtn'> Update Schedule</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'js.html.twig' %}

<script language="javascript">
    //<![CDATA[
        var chunkUploadUrl = "{{ path('chunk_upload_story')}}";
        
        var uploader = new plupload.Uploader({
        runtimes : 'html5,html4',
        browse_button : 'scheduleFile', // you can pass an id...
        url : chunkUploadUrl,
        multi_selection: false,
        chunk_size: '1000kb',
        multipart_params : {
            "id" : $('#scheduleId').val()
         },
        filters : {
            mime_types: [
                {title : "Audio files", extensions : "mp3"},
            ]
        },

        init: {
            PostInit: function() {
                        document.getElementById('uploadFileBtn').onclick = function() {
                            if (uploader.files.length < 1) {
                                document.getElementById('statusResponse').innerHTML = '<p style="color:#EA4335;">Please select a file to upload.</p>';
                                return false;
                            } else {
                                uploader.start();

                                return false;
                            }
                        };
                    },
                    FilesAdded: function(up, files){
                        document.getElementById('fileList').innerHTML = '';
                        document.getElementById('statusResponse').innerHTML = '';
                        document.querySelector('.progress').innerHTML = '';
                       
                        plupload.each(files, function(file) {
                            document.getElementById('fileList').innerHTML += '<div id="' + file.id + '">' + file.name  + ') <b></b></div>';
                        });
                    },
                 
                    UploadProgress: function(up, file) {

                        $('.progress').css('display', 'block');
                        document.querySelector(".progress").innerHTML = '<div class="progress-bar" style="width: '+file.percent+'%;">'+file.percent+'%</div>';
                    },
                    
                    FileUploaded: function(up, file, result) {
                        var responseData = result.response.replace('"{', '{').replace('}"', '}');
                        var objResponse = JSON.parse(responseData);
                        document.getElementById('statusResponse').innerHTML = '<p style="color:#198754;">' + objResponse.msg + '</p>';


                        $('#audioContainer').html("<audio controls style='width:100%'><source src='"+ objResponse.fileWebPath+"' type='audio/mpeg' id='storyAudio'>Your browser does not support the audio element.</audio>")
                    },

                    Error: function(up, err) {
                        document.getElementById('statusResponse').innerHTML = '<p style="color:#EA4335;">Error #' + err.code + ': ' + err.msg + '</p>';
                    }
            }
        });

        // Initialize Plupload uploader
        uploader.init();

    //]]>
</script>
{% endblock %}