{% extends "base.html.twig" %}

{% block main %}
    {% include 'Dashboard/header.html.twig' %}
    <div id='header-subd'></div>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large sidebar-container" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <ul class="vertical menu" data-responsive-menu="drilldown medium-accordion" >
                        <li class='user-info'>
                            <a href="{{ path('dashboard_my_profile')}}" class='pl20 pr20'> 
                                <img src="{{ userData['profilePhoto'] != '' ? userData['profilePhoto'] : '/assets/img/default-profile-pic.jpg' }}" class='profilePic'/> 
                                <div class='user-name'>{{ userData.fullName|upper}}</div>
                                <div class='clear-fix'></div>
                            </a>
                        </li>
                        {% if userData['type'] == 'Super Admin' %}
                            <li><a href="{{ path('user_index')}}" class='text-white'><i class="fa-user fa-solid fa-user"></i> USERS</a></li>

                        {% elseif  userData['type'] == 'Admin' %}
                            <li><a href="{{ path('schedule_index')}}" class='text-white'><i class="fa-solid fa-arrow-rotate-left"></i> SCHEDULES</a></li>
                        {% else %}

                            {# <li><a href="{{ path('dashboard_my_profile')}}" class='text-white {{ current_path == 'story_index' ? 'active-link' : ''}}'><i class="fa-sharp fa-solid fa-book-open"></i> ME AND MY STORIES</a></li> #}
                            <li><a href="{{ path('dashboard_my_profile')}}" class='pl20 pr20'><div class='nav-icon-container white'><img src="/assets/img/book-open.svg"></div>ME AND MY STORIES</a></li>
                            <li><a href="{{ path('dashboard_book_now')}}" class='pl20 pr20 {{ current_path == 'dashboard_book_now' ? 'active-link' : ''}}'><div class='nav-icon-container white'><img src="/assets/img/bookmark.svg"></div>BOOK NOW</a></li>
                            <li><a href="javascript:void(0);" class='pl20 pr20 '><div class='nav-icon-container white'><img src="/assets/img/globe-africa.svg"></div>PUBLIC LIBRARY</a></li>
                            <li><a href="javascript:void(0);" class='pl20 pr20 '><div class='nav-icon-container white'><img src="/assets/img/shopping-bag.svg"></div>LUVMYSTORY MERCH</a></li>
                            <li><a href="javascript:void(0);" class='pl20 pr20 '><div class='nav-icon-container white'><img src="/assets/img/archive.svg"></div>ARCHIVE</a></li>
                            <li><a href="javascript:void(0);" class='pl20 pr20 '><div class='nav-icon-container white'><img src="/assets/img/hands-helping.svg"></div> HELP UKRAINE</a></li>
                       {% endif %}
                    </ul>
                </div>
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                
                {% block content %}{% endblock %} 
            </div>
        </div>
    </div>
{% endblock %}    
