{% extends "Dashboard/main.html.twig" %}

{% block content %}

<div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12 large-12">
        <div class='profileContainer'>
            <div class='profilePicContainer'>
                <img src="{{ user.getFileWebPath != '' ? user.getFileWebPath : '/assets/img/default-profile-pic.jpg' }}" class='profilePic'/>
            </div>
            <div class='mt10'>
                <h3 >{{ user.fullname}}</h3>
                <h4 >New York, USA</h4>
            </div>
            <div class='mt10 social-icons'>
               <ul >
                    <li><img src="/assets/img/facebook (1).png"></li>
                    <li><img src="/assets/img/profile-twitter-icon.png"></li>
                    <li><img src="/assets/img/profile-instagram-icon.png"></li>
                </ul>
                <div class='clear-fix'></div>

            </div>

            <div class='mt10'>
                <div class="action-btn">
                    <div class="grid-x grid-margin-x">
                         <div class="cell small-12 medium-12 large-6">
                             <a class='button teal' href="{{ path('story_index')}}"> View Stories</a>
                        </div>
                        <div class="cell small-12 medium-12 large-6">
                             <a class='button pink' href="{{ path('dashboard_update_profile')}}"><i class="fa-solid fa-pencil"></i> Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='mt30'>
                <div class='text-left'>
                    <h6>BIO</h6>
                    <div class='bio'>
                        {{ user.bio}}
                    </div>
                </div>
            </div>
            <div class='mt50'>
                <div class='text-left profile-info-container'>
                    <div class='icon-container'>
                        <div class='img-container'>
                            <img src='/assets/img/cake.svg' />
                        </div>
                    </div>
                    <div class='det-container'>
                        <div class='title'>Birthday</div>
                        <div class='value'>{{ user.birthdate|date('m/d/Y')}}</div>
                    </div>
                    <div class='clear-fix'></div>
                </div>
            </div>
            <div class='mt10'>
                <div class='text-left profile-info-container'>
                    <div class='icon-container'>
                        <div class='img-container'>
                            <img src='/assets/img/envelop.svg' />
                        </div>
                    </div>
                    <div class='det-container'>
                        <div class='title'>Email</div>
                        <div class='value'>{{ user.email}}</div>
                    </div>
                    <div class='clear-fix'></div>
                </div>
            </div>
            <div class='mt10'>
                <div class='text-left profile-info-container'>
                    <div class='icon-container'>
                        <div class='img-container'>
                            <img src='/assets/img/zodiac-sign-icon.svg' />
                        </div>
                    </div>
                    <div class='det-container'>
                        <div class='title'>Zodiac Sign</div>
                        <div class='value'>Cancer</div>
                    </div>
                    <div class='clear-fix'></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
         
  

{% include 'js.html.twig' %}

{% endblock %}