{% extends "Dashboard/main.html.twig" %}

{% block content %}

<div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12 large-12">
        <div class='updateProfileContainer '>
            <form id='profileForm' action="{{ path('dashboard_update_profile')}}" method="POST" enctype='multipart/form-data' >
                <div class='photo-container text-center medium-text-left'>
                    <h3>Update Profile</h3>
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell small-12 medium-4" >
                            <div class='profilePicContainer medium-text-center'>
                                <img id="imgProfilePic" src="{{ user.getFileWebPath != '' ? user.getFileWebPath : '/assets/img/default-profile-pic.jpg' }}" class='profilePic'/>
                            </div>
                        </div>
                        <div class="cell small-12 medium-8 self-align-centered" >
                            <h5>Update Profile Photo</h5>
                            <label for='profilePic' class='button'>Upload Photo</label>
                            <input id="profilePic" type='file' name="profile_photo" style="display:none;" accept="image/png, image/gif, image/jpeg">
                            
                        </div>
                    </div>
                </div>
                <div class='inputContainer mt50'>
                      <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.first_name) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.first_name) }}
                        </div>
                    </div>
                </div>
                <div class='inputContainer mt10'>
                      <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.last_name) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.last_name) }}
                        </div>
                    </div>
                </div>
                <div class='inputContainer mt10'>
                      <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.email) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.email) }}
                        </div>
                    </div>
                </div>
                <div class='inputContainer mt10'>
                      <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.country) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.country) }}
                        </div>
                    </div>
                </div>
                <div class='inputContainer mt10'>
                      <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.facebook_url) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.facebook_url) }}
                        </div>
                    </div>
                </div>
                <div class='inputContainer mt10'>
                      <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.twitter_url) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.twitter_url) }}
                        </div>
                    </div>
                </div>
                <div class='inputContainer mt10'>
                    <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.instagram_url) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.instagram_url) }}
                        </div>
                    </div>
                </div>
              
                <div class='inputContainer mt10'>
                      <div class="grid-x grid-padding-x">
                        <div class="small-3 cell">
                            {{ form_label(form.zodiac_sign) }}
                        </div>
                        <div class="small-9 cell">
                         {{ form_widget(form.zodiac_sign) }}
                        </div>
                    </div>
                </div>
                <div class='mt30'>
                    <div class='text-left'>
                        <h6>BIO</h6>
                        <div class="small-12 cell">
                            {{ form_widget(form.bio) }}
                        </div>
                    </div>
                </div>
                 {{ form_widget(form._token) }}

                <div class='mt20'>
                    <button class='button pink large' type="submit"> Update Profile</a>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
         
  

{% include 'js.html.twig' %}

<script language="javascript">
//<![CDATA[
    $(document).ready(function(){
       function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgProfilePic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#profilePic").change(function(){
            readURL(this);
        });
    });
//]]>
</script>

{% endblock %}