{% extends "base.html.twig" %}

{% block main %}
    {% include 'Dashboard/header.html.twig' %}

    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large sidebar-container" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                <ul class="vertical menu" data-responsive-menu="drilldown medium-accordion" style="max-width: 250px;">
                        {% if userData['type'] == 'Super Admin' %}
                            <li><a href="{{ path('user_index')}}" class='text-white'><i class="fa-user fa-solid fa-user"></i> Users</a></li>

                        {% elseif  userData['type'] == 'Admin' %}
                        {% else %}
                            <li><a href="{{ path('dashboard_my_stories')}}" class='text-white'><i class="fa-sharp fa-solid fa-book-open"></i> MY STORIES</a></li>
                            <li><a href="{{ path('dashboard_my_profile')}}" class='text-white'><i class="fa-regular fa-user"></i> MY PROFILE</a></li>
                            <li><a href="{{ path('dashboard_transactions')}}" class='text-white'><i class="fa-solid fa-arrow-rotate-left"></i> TRANSACTIONS</a></li>
                            <li><a href="{{ path('dashboard_book_now')}}" class='text-white'><i class="fa-solid fa-arrow-rotate-left"></i> Book Now</a></li>   
                        {% endif %}
                        
                         
                        {# <li><a href="{{ path('dashboard_index')}}" class='text-white'><i class="fa-solid fa-table-cells-large"></i> DASHBOARD</a></li>                     #}
                    </ul>
                </div>
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar hide-for-large">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-open="my-info"></button>
                    </div>
                </div>
                {% block content %}{% endblock %} 
            </div>
        </div>
    </div>
{% endblock %}    
